html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    margin: 20px 0;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.row li {
    margin-right: 10px
}

.link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(187, 46, 31);
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: bold;
}

.post-container {
    display: flex;
    flex-direction: column;
}

.post-list li {
    margin: 10px auto;
}

.post {
    margin: 15px auto;
}

span {
    margin-right: 5px;
}

.info-link {
    color: black;
}

.info span {
    color: gray;
}

.name-title { 
    margin-bottom: 0px;
}